{% extends 'user/base.html' %}

{% load static %}
{% block title %}Accueil{% endblock title %}
{% block content %}
<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">L'outil de gestion de club de sport !</h1>
      </div>
      <div class="col-xl-9 mx-auto">
        <h3 class="mb-5">Automatiser la relation avec vos adhérents</h3>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="far fa-id-card m-auto text-primary"></i>
          </div>
          <h3>Gestion des licenciés</h3>
          <p class="lead mb-0">Inscrire et mieux suivre les membres inscrits au club</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>Gestion des données en format excel</h3>
          <p class="lead mb-0">Extraction et traitement des données en XLS et CSV</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Relance mail</h3>
          <p class="lead mb-0">Outil de relance par mail</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/user/img/table.png'); background-size: cover;"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Gestion des licenciés</h2>
        <p class="lead mb-0">Inscrire et mieux suivre les membres inscrits au club </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/user/img/excel.png');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Gestion des données en format Xls</h2>
        <p class="lead mb-0">Extraction et traitement des données sur excel possible</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/user/img/gmail.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Relance mail</h2>
        <p class="lead mb-0">Relancer par mail les membres qui n'ont pas complété leur inscription !</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Qu'en disent les utilisateurs</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{% static 'user/img/muaythai.png' %}" alt="">
          <h5>Boxing thai Sevran</h5>
          <p class="font-weight-light mb-0">"Outil fantastique qui gère pleins de tâches automatiquement !"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{% static 'user/img/muaythai.png' %}" alt="">
          <h5>Club amateur Vitry</h5>
          <p class="font-weight-light mb-0">"Muay Thai club permet un meilleur suivi de nos élèves."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{% static 'user/img/muaythai.png' %}" alt="">
          <h5>Club thai boxing Torcy</h5>
          <p class="font-weight-light mb-0">"Merci de m'avoir fait gagner du temps"</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}