{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}réinitialisation mot de passe{% endblock title %}
{% block content %} 
<h3 class="display-4 text-center"> Mot de passe oublié </h3>
<hr class="bg-dark mb-4 w-25">
<form method="POST" class="form-style-9">
    {% csrf_token %}
    <fieldset class="form-group" style='color:rgb(38, 38, 41)'>
        <legend class="border-bottom mb-4" >Veuillez renseigner votre adresse mail</legend>
        {{ form|crispy }}
    </fieldset>
    <div class= "form-group">
        <button class="btn btn-outline-info" type="submit">Demander un nouveau mot de passe</button>
    </div>
</form>
<div class="col-md-12 text-center">
        <div class= "form-group">
            <a href ="{% url 'homepage' %}"><button class="btn btn-outline-info" type="button">Retour</button></a>
        </div>
    </form>
</div>
{% endblock %}