{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Mail envoyé {% endblock title %}
{% block content %} 

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="service-box mt-5 mx-auto alert alert-info" style='color:rgb(66, 66, 112)'>
                <h2>Un email a été envoyé avec des instructions à suivre pour changer votre mot de passe.</h2>
            </div>
            
        </div>
    </div>

</div>

{% endblock %}