{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}-envoi email{% endblock title %}
{% block content %} 

<div class='content-section'>
    <form class="form-style-9" method="POST">
        {% csrf_token %}
        <fieldset class="form-group" style='color:rgb(28, 28, 31)'>
            <legend class="border-bottom mb-4" >Mot de passe oublié ?</legend>
            {{ form|crispy }}
        </fieldset>
        <div class= "form-group">
            <button class="btn btn-outline-info" type="submit">réinitialiser mot de passe</button>
        </div>
    </form>
</div>

{% endblock %}