{% extends 'user/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}Données du club{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <h3 class="display-4 text-center">{{ club.club_name}}</h3>
    <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Recherche par nom">
    <p><button onclick="sortTablebyCertificate()">Trier par certificat</button></p>
    <p><button onclick="sortTablebyPayment()">Trier par paiement</button></p> -->

<!-- Table with panel -->
<div class="card card-cascade narrower">
    <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

        <a href="" class="white-text mx-3">Membres 2019/2020</a>
        <a href="" class="white-text mx-3">Nombre de licenciés: {{ members.count }}</a>
        <div class="row d-flex justify-content-center modalWrapper">
            <div class="modal fade addNewInputs" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAdd"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                          <form class="form-style-9 " method="POST">
                              {% csrf_token %}
                              <fieldset class="form-group" style='color:rgb(11, 11, 12)'>
                                  <div class="modal-header">
                                      <legend class="border-bottom mb-4" >Ajoutez membre</legend>
                                      <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  {{ m_form|crispy }}
                              </fieldset>
                              <div class= "form-group">
                                  <button class="btn btn-outline-info" type="submit">Ajouter</button>
                              </div>
                          </form> 
                        </div> 
                  </div>       
                </div>
            </div>
            <div class="text-center">
                <a href="" class="btn btn-info btn-rounded btn-sm" data-toggle="modal" data-target="#modalAdd">Ajouter membre<i
                    class="fas fa-plus-square ml-1"></i></a>
            </div>
            <div class="text-center buttonEditWrapper">
                <button class="btn btn-info btn-rounded btn-sm buttonEdit" data-toggle="modal" data-target="#modalEdit"
                disabled>Editer<i class="fas fa-pencil-square-o ml-1"></i></a>
            </div>
        
            <div class="text-center">
                <button class="btn btn-danger btn-sm btn-rounded buttonDelete" data-toggle="modal" disabled data-target="#modalDelete"
                disabled>Supprimer<i class="fas fa-times ml-1"></i></a>
            </div>
        </div>
        </div>

    </div>
    <table id="myTable" class="table table-bordered table-hover table-sm ">
        <thead class="thead-dark">
            <tr>
                <th class="th-lg" scope="col">#</th>
                <th class="th-lg" scope="col"><a>Nom</a></th>
                <th class="th-lg" scope="col"><a>Prénom</a></th>
                <th class="th-lg" scope="col"><a>DOB</a></th>
                <th class="th-lg" scope="col"><a>adresse</a></th>
                <th class="th-lg" scope="col"><a>email</a></th>
                <th class="th-lg" scope="col"><a>certificat</a></th>
                <th class="th-lg" scope="col"><a>paiement</a></th>
                <th class="th-lg" scope="col"><a>club</a></th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}            
            <tr class="table-light">
            <th scope="row">{{ forloop.revcounter }}</th>
            <td>{{member.last_name}}</td>
            <td>{{member.first_name}}</td>
            <td>{{member.birth}}</td>
            <td>{{member.street_adress}}</td>
            <td>{{member.email}}</td>
            <!-- <td>{{member.certificate}}</td> -->
            <!-- <td>{{member.payment}}</td> -->
            <td><input type="checkbox" name="myTextEditBox" value="{{member.certificate}}" /></td>
            <td><input type="checkbox" name="myTextEditBox" value="{{member.payment}}" /></td>
            <td>{{member.club}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="thead-dark">
                <th class="th-lg" scope="col">#</th>
                <th class="th-lg" scope="col"><a>Nom</a></th>
                <th class="th-lg" scope="col"><a>Prénom</a></th>
                <th class="th-lg" scope="col"><a>DOB</a></th>
                <th class="th-lg" scope="col"><a>adresse</a></th>
                <th class="th-lg" scope="col"><a>email</a></th>
                <th class="th-lg" scope="col"><a>certificat</a></th>
                <th class="th-lg" scope="col"><a>paiement</a></th>
                <th class="th-lg" scope="col"><a>club</a></th>
            </tr>
        </tfoot>
    </table>
</div>

        
    {% endif %}
{% endblock %}
