{% extends 'user/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}Membre supprimé{% endblock title %}
{% block content %}
<h3 class="display-4 text-center"> Membre {{member.last_name}} {{member.first_name}} supprimé </h3>
<hr class="bg-dark mb-4 w-25">
<div class="col-md-12 text-center">
        <div class= "form-group">
            <a href ="{% url 'clubdata' club_id=club.id %}"><button class="btn btn-outline-info" type="button">Retour</button></a>
        </div>
    </form>
</div>

{% endblock %}